POWERLEVEL9K_MODE='nerdfont-complete'
POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(
    os_icon
    ssh_joined
    virtualenv
    user
    dir
    vcs
)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(
    status
    command_execution_time
    background_jobs
)

{% if zsh.enable_svn %}
POWERLEVEL9K_VCS_BACKENDS=(git svn)
{% endif %}

POWERLEVEL9K_PROMPT_ADD_NEWLINE=true
POWERLEVEL9K_SHORTEN_STRATEGY=truncate_to_last
POWERLEVEL9K_COMMAND_EXECUTION_TIME_THRESHOLD=2
POWERLEVEL9K_BACKGROUND_JOBS_BACKGROUND='226'
POWERLEVEL9K_BACKGROUND_JOBS_FOREGROUND='000'

POWERLEVEL9K_STATUS_CROSS=true
POWERLEVEL9K_STATUS_ERROR_BACKGROUND='196'
POWERLEVEL9K_STATUS_ERROR_FOREGROUND='226'

{% if distribution == "DSM" %}
OS_ICON='\uF233'
POWERLEVEL9K_LINUX_ICON='\uF233'
{% endif %}

POWERLEVEL9K_SSH_BACKGROUND='000'

POWERLEVEL9K_ROOT_ICON='\uF09C'
POWERLEVEL9K_USER_ICON="\uF415"
POWERLEVEL9K_ALWAYS_SHOW_USER=true
POWERLEVEL9K_USER_TEMPLATE=""

POWERLEVEL9K_USER_ROOT_FOREGROUND='000'
POWERLEVEL9K_USER_ROOT_BACKGROUND='196' #red
POWERLEVEL9K_USER_DEFAULT_BACKGROUND='000'

POWERLEVEL9K_DIR_SHOW_WRITABLE=true
POWERLEVEL9K_DIR_DEFAULT_BACKGROUND='039' #blue
POWERLEVEL9K_DIR_DEFAULT_FOREGROUND='000' #alpha
POWERLEVEL9K_DIR_HOME_BACKGROUND='039' #blue
POWERLEVEL9K_DIR_HOME_FOREGROUND='000' #alpha
POWERLEVEL9K_DIR_HOME_SUBFOLDER_BACKGROUND='039' #blue
POWERLEVEL9K_DIR_HOME_SUBFOLDER_FOREGROUND='000' #alpha
POWERLEVEL9K_DIR_ETC_BACKGROUND='039' #blue
POWERLEVEL9K_DIR_ETC_FOREGROUND='000' #alpha
POWERLEVEL9K_DIR_NOT_WRITABLE_BACKGROUND='196' #red
POWERLEVEL9K_DIR_NOT_WRITABLE_FOREGROUND='226' #yellow

POWERLEVEL9K_VCS_CLEAN_FOREGROUND='000' #alpha
POWERLEVEL9K_VCS_CLEAN_BACKGROUND='040' #green or'165' #purple
POWERLEVEL9K_VCS_UNTRACKED_FOREGROUND='000' #alpha
POWERLEVEL9K_VCS_UNTRACKED_BACKGROUND='040' #green
POWERLEVEL9K_VCS_MODIFIED_FOREGROUND='000' #alpha
POWERLEVEL9K_VCS_MODIFIED_BACKGROUND='208' #orange

POWERLEVEL9K_COMMAND_EXECUTION_TIME_BACKGROUND='000'
POWERLEVEL9K_COMMAND_EXECUTION_TIME_FOREGROUND=white
