if [[ -f /opt/etc/profile ]]; then
  # Load Entware
  source /opt/etc/profile
fi

# Run ZSH
{% if zsh.location %}
SHELL={{ zsh.location }}
{% else %}
SHELL=$(command -v zsh)
{% endif %}
if [[ $SHELL ]]; then
  export SHELL
  exec $SHELL
fi
