#################
# Shell Options #
#################

# Powerlevel10k Instant Prompt
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

source ~/.zsh/completions
source ~/.zsh/aliases
fpath=(~/.zsh/functions $fpath)

autoload clean-antibody
{% if ansible_distribution == "MacOSX" %}
autoload cask
{% endif %}

# Initialize Antibody
source <(antibody init)

# Setup Oh-My-ZSH stuff (unset later). This makes Oh-My-ZSH plugins and themes work.
ZSH="$(antibody home)/https-COLON--SLASH--SLASH-github.com-SLASH-robbyrussell-SLASH-oh-my-zsh"

# Common Plugins
source ~/.zsh/colors
antibody bundle chrissicool/zsh-256color
antibody bundle zsh-users/zsh-autosuggestions
antibody bundle ael-code/zsh-colored-man-pages
antibody bundle hcgraf/zsh-sudo
antibody bundle supercrabtree/k
antibody bundle agkozak/zsh-z
{% if ansible_distribution == "MacOSX" %}
antibody bundle robbyrussell/oh-my-zsh path:plugins/osx
antibody bundle sinetoami/web-search
{% endif %}

# Docker-Compose Shortcuts
if command -v docker > /dev/null; then
    antibody bundle robbyrussell/oh-my-zsh path:plugins/docker
    antibody bundle robbyrussell/oh-my-zsh path:plugins/docker-compose
    antibody bundle Cloudstek/zsh-plugin-appup
fi

unset ZSH

# Shell Theme
antibody bundle romkatv/powerlevel10k
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Should be at the end of this file
antibody bundle zsh-users/zsh-syntax-highlighting
