{{- $existing := "" }}
{{- if stat "/etc/pam.d/sudo_local" }}
{{- $existing = include "/etc/pam.d/sudo_local" }}
{{- end }}
{{- $intended := includeTemplate "etc/pam.d/sudo_local.tpl" }}
{{- if eq .chezmoi.os "darwin" }}
{{- if ne $existing $intended -}}
#!/usr/bin/env sh
set -euo pipefail

sudo tee /etc/pam.d/sudo_local >/dev/null <<-EOF
{{ $intended -}}
EOF
{{- end }}
{{- end }}
