{{- $deviceTypes := list "work" "personal" -}}
{{- $deviceType := promptChoiceOnce . "deviceType" "What kind of device is this" $deviceTypes -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
	email    = {{ $email | quote }}
	work     = {{ eq $deviceType "work" }}     # Is this a work device?
	personal = {{ eq $deviceType "personal" }} # Is this a personal device?

[diff]
	pager = ""

[[textconv]]
	pattern = "**/*.plist"
	command = "plutil"
	args    = ["-convert", "xml1", "-o", "-", "-"]
