{
  "// Note": "This file stores secret API credentials. Do not share!",
  {{- if .personal }}
  "openrouter": "{{ onepasswordRead "op://Private/OpenRouter/API Keys/Personal" "my.1password.eu" }}"
  {{- end }}
  {{- if .work }}
  "openrouter": "{{ range (bitwarden "item" "OpenRouter").fields }}{{ if eq .name "API Key" }}{{ .value }}{{ end }}{{ end }}"
  {{- end }}
}
