{
  "// Note": "This file stores secret API credentials. Do not share!",
  {{- if .personal }}
  "openrouter": "{{ onepasswordRead "op://Private/OpenRouter/API Keys/Personal" "my.1password.eu" }}"
  {{- end }}
}
