# Setup Znap Plugin Manager
zstyle ':znap:*' plugins-dir ~/.zsh/plugins
source ~/.zsh/zsh-snap/znap.zsh

source ~/.zsh/aliases

# Poverlevel10k Theme
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
znap source romkatv/powerlevel10k

# Install Plugins
zstyle ':autocomplete:*' insert-unambiguous yes
znap source marlonrichert/zsh-autocomplete

znap source zsh-users/zsh-autosuggestions
znap source ael-code/zsh-colored-man-pages

{{- if eq .chezmoi.os "darwin" }}
znap source ohmyzsh/ohmyzsh plugins/macos
znap source sinetoami/web-search
{{- end }}

# Don't know if this is needed...
# znap source chrissicool/zsh-256color

# LSCOLORS is used as a fallback for LS_COLORS
export LSCOLORS="Gxfxcxdxbxegedabagacad"
export CLICOLOR=1 # Colored ls by default
znap source trapd00r/LS_COLORS
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"

# This should be loaded last
znap source zsh-users/zsh-syntax-highlighting
