#!/usr/bin/env zsh

##############################################################################
# ZSH History and Environment Settings
##############################################################################
test ! -f "$ZDOTDIR/history.zsh" || source "$ZDOTDIR/history.zsh"
test ! -f "$ZDOTDIR/.zshrc-env" || source "$ZDOTDIR/.zshrc-env"

##############################################################################
# Plugin Manager
##############################################################################
zstyle ':znap:*' repos-dir "$XDG_DATA_HOME/zsh/plugins"
source "$XDG_DATA_HOME/zsh-snap/znap.zsh"

# iTerm Integration
{{- if eq .chezmoi.os "darwin" }}
znap eval iterm2 'curl -fsSL https://iterm2.com/shell_integration/zsh'
{{- end }}

# Powerlevel10k Theme
test ! -f "$ZDOTDIR/p10k.zsh" || source "$ZDOTDIR/p10k.zsh"
znap source romkatv/powerlevel10k

##############################################################################
# Command Line Editor
##############################################################################
# Visual Command Line Editor (key binding ^x^e)
autoload -U edit-command-line
function edit-command-line-custom() {
  local VISUAL="${ZLE_EDITOR:-$VISUAL}"
  edit-command-line
}
zle -N edit-command-line edit-command-line-custom
bindkey '^xe' edit-command-line
bindkey '^x^e' edit-command-line

# Custom Keybindings (⌘⬅️ and ⌘➡️)
bindkey '^[bol' beginning-of-line
bindkey '^[eol' end-of-line

##############################################################################
# ZSH Aliases and Functions
##############################################################################
test ! -f "$XDG_CONFIG_HOME/.aliases" || source "$XDG_CONFIG_HOME/.aliases"
test ! -f "$HOME/.aliases" || source "$HOME/.aliases" # Old path, as a backup

# Named Directories
hash -d dev=~/Developer

# Autocomplete Reset
function reset-autocomplete() {
  rm -rf "$XDG_CACHE_HOME"/zsh/comp*
  compinit
}

# Interactive Command Editing
function edit() {
  "${(@z)${VISUAL:-${EDITOR:-vi}}}" "$@"
}

##############################################################################
# ZSH Plugins
##############################################################################
# Autocompletion
zstyle ':autocomplete:*' insert-unambiguous yes
znap source marlonrichert/zsh-autocomplete
znap source zsh-users/zsh-autosuggestions
znap install zsh-users/zsh-completions

# Quality of Life
znap source agkozak/zsh-z
{{- if eq .chezmoi.os "darwin" }}
znap source ohmyzsh/ohmyzsh plugins/macos
{{- end }}
znap source ohmyzsh/ohmyzsh lib/clipboard.zsh
znap source ael-code/zsh-colored-man-pages
znap source sineto/web-search

# LSCOLORS is used as a fallback for LS_COLORS
export CLICOLOR=1 LSCOLORS="Gxfxcxdxbxegedabagacad"
znap source trapd00r/LS_COLORS
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"

# This should be loaded last
znap source zsh-users/zsh-syntax-highlighting
