#!/usr/bin/env zsh

##############################################################################
# ZSH History and Environment Settings
##############################################################################
test ! -f "$ZDOTDIR/history.zsh" || source "$ZDOTDIR/history.zsh"
test ! -f "$ZDOTDIR/interactive-env.zsh" || source "$ZDOTDIR/interactive-env.zsh"

##############################################################################
# Plugin Manager
##############################################################################
zstyle ':znap:*' plugins-dir "$XDG_DATA_HOME/zsh/plugins"
source "$XDG_DATA_HOME/zsh-snap/znap.zsh"

# iTerm Integration
{{- if eq .chezmoi.os "darwin" }}
znap eval iterm2 'curl -fsSL https://iterm2.com/shell_integration/zsh'
{{- end }}

# Powerlevel10k Theme
test ! -f "$ZDOTDIR/p10k.zsh" || source "$ZDOTDIR/p10k.zsh"
znap source romkatv/powerlevel10k

##############################################################################
# Command Line Editor
##############################################################################
# Visual Command Line Editor (key binding ^x^e)
autoload -U edit-command-line
function edit-command-line-custom() {
  local VISUAL="${ZLE_EDITOR:-$VISUAL}"
  edit-command-line
}
zle -N edit-command-line edit-command-line-custom
bindkey '^xe' edit-command-line
bindkey '^x^e' edit-command-line

# Custom Keybindings (⌘⬅️ and ⌘➡️)
bindkey '^[bol' beginning-of-line
bindkey '^[eol' end-of-line

##############################################################################
# ZSH Custom Aliases
##############################################################################
if command -v bat > /dev/null; then
    alias cat='bat --paging=never'
fi

if command -v gls >/dev/null; then
    alias ls="gls --color"
fi

alias la='ls -lAh'
alias ll='ls -lah'
{{- if eq .chezmoi.os "darwin" }}
alias reveal='open -R'
{{- end }}

function edit() {
  "${(@z)${VISUAL:-${EDITOR:-vi}}}" "$@"
}

if command -v kubectl-krew >/dev/null; then
  alias krew=kubectl-krew
fi

if command -v kubectl-oidc_login >/dev/null; then
  alias kubelogin=kubectl-oidc_login
  compdef kubectl-oidc_login=kubelogin
fi

##############################################################################
# ZSH Plugins
##############################################################################
# Autocompletion
zstyle ':autocomplete:*' insert-unambiguous yes
znap source marlonrichert/zsh-autocomplete
znap source zsh-users/zsh-autosuggestions
znap source zsh-users/zsh-completions

function reset-autocomplete() {
  rm -rf "$XDG_CACHE_HOME"/zsh/comp*
  compinit
}

# Quality of Life
znap source agkozak/zsh-z
{{- if eq .chezmoi.os "darwin" }}
znap source ohmyzsh/ohmyzsh plugins/macos
{{- end }}
znap source ohmyzsh/ohmyzsh lib/clipboard.zsh
znap source ael-code/zsh-colored-man-pages
znap source sineto/web-search

# LSCOLORS is used as a fallback for LS_COLORS
export CLICOLOR=1 LSCOLORS="Gxfxcxdxbxegedabagacad"
znap source trapd00r/LS_COLORS
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"

# This should be loaded last
znap source zsh-users/zsh-syntax-highlighting
