#!/usr/bin/env zsh
##############################################################################
# Interactive Shell Environment
##############################################################################

export XDG_CACHE_HOME XDG_CONFIG_HOME XDG_DATA_HOME XDG_STATE_HOME

# ZSH-Z
ZSHZ_DATA="$XDG_STATE_HOME/zsh-z/history"
ZSHZ_TILDE=1
ZSHZ_UNCOMMON=1

# Homebrew GitHub API Token
{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_GITHUB_API_TOKEN={{ onepasswordRead "op://Personal/GitHub/Personal Access Tokens/Homebrew" | trim | quote }}
export HOMEBREW_B2_KEY_ID={{ onepasswordRead "op://Personal/Backblaze/Homebrew Key ID" | trim | quote }}
export HOMEBREW_B2_APPLICATION_KEY={{ onepasswordRead "op://Personal/Backblaze/Homebrew Key" | trim | quote }}
{{- end }}

# Python History Config
if [[ -f "$XDG_CONFIG_HOME/python/pythonrc.py" ]]; then
    export PYTHONHISTFILE="$XDG_STATE_HOME/python/history"
    export PYTHONSTARTUP="$XDG_CONFIG_HOME/python/pythonrc.py"
fi

# Misc Configuration
export FUNCTIONS_CORE_TOOLS_TELEMETRY_OPTOUT=true

# Editor and Browser integration
export EDITOR='nano'

{{- if eq .chezmoi.os "darwin" }}
export BROWSER='open'
if command -v nova > /dev/null; then
    export VISUAL='nova open --wait'
    export ZLE_EDITOR='nova open --wait --no-recent --type zshrc'
    export KUBE_EDITOR='nova open --wait --no-recent --type yaml'
    export HOMEBREW_EDITOR='nova open --wait --type rb'
else
    export VISUAL='open -t -n -W'
fi
{{- else if eq .chezmoi.os "linux" }}
export BROWSER='firefox'
{{- end }}
