Include config.d/*

{% for (name, host) in ssh.hosts.items() %}
Host {{ name }}
  {% for (key, value) in host.items() %}
  {{ key }} {{ value }}
  {% endfor %}

{% endfor %}

Host *
{% if ansible_distribution == 'MacOSX' %}
  UseKeychain         yes
{% endif %}
  AddKeysToAgent      yes
  ForwardX11          no
  ForwardAgent        no
  ServerAliveInterval 240
  IdentityAgent       "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
