{% for (name, host) in ssh.hosts.items() %}
Host {{ name }}
  {% for (key, value) in host.items() %}
  {{ key }} {{ value }}
  {% endfor %}

{% endfor %}

Host *
{% if ssh.key is defined %}
  IdentityFile        {{ ssh.key }}
{% endif %}
  UseKeychain         yes
  AddKeysToAgent      yes
  IdentitiesOnly      yes
  ForwardX11          no
  ForwardAgent        no
  ServerAliveInterval 240
  SendEnv             ZSH_POWERLINE_THEME
