{{ if .personal -}}
HOMEBREW_GITHUB_API_TOKEN={{ onepasswordRead "op://Private/GitHub/Personal Access Tokens/Homebrew" "my.1password.eu" }}
HOMEBREW_B2_KEY_ID={{ onepasswordRead "op://Private/Backblaze/Homebrew Key ID" "my.1password.eu" }}
HOMEBREW_B2_APPLICATION_KEY={{ onepasswordRead "op://Private/Backblaze/Homebrew Key" "my.1password.eu" }}
{{- end }}
