HOMEBREW_GITHUB_API_TOKEN={{ onepasswordRead "op://Personal/GitHub/Personal Access Tokens/Homebrew" "wittenburg.1password.com" }}
HOMEBREW_B2_KEY_ID={{ onepasswordRead "op://Personal/Backblaze/Homebrew Key ID" "wittenburg.1password.com" }}
HOMEBREW_B2_APPLICATION_KEY={{ onepasswordRead "op://Personal/Backblaze/Homebrew Key" "wittenburg.1password.com" }}
