{{ if eq .chezmoi.os "darwin" -}}
{{ template "sane-script.sh" }}
{{ template "macos-settings.sh" }}

# Set computer name (as done via System Preferences → Sharing)
sudo systemsetup -f -setcomputername {{ .computerName | quote }} >/dev/null
sudo scutil --set HostName {{ .computerName | quote }}
{{- if not (.computerName | lower | contains "macbook") }}
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string {{ .computerName | quote }}
{{- end }}

# Restart automatically if the computer freezes
sudo systemsetup -f -setrestartfreeze on >/dev/null

# Set computer sleep delay
sudo systemsetup -f -setcomputersleep 10 >/dev/null

# Set Display sleep delay
sudo systemsetup -f -setdisplaysleep 5 >/dev/null

# Disable remote apple events
sudo systemsetup -f -setremoteappleevents off >/dev/null

# Disable remote login
sudo systemsetup -f -setremotelogin off >/dev/null

# Disable guest account login
sudo defaults write /Library/Preferences/com.apple.loginwindow GuestEnabled -bool false
{{ end -}}
