{{ if eq .chezmoi.os "darwin" -}}
{{ template "sane-script.sh" }}

# Copy email addresses as `Foo Bar <foo@example.com>` instead of `foo@example.com` in Mail.app
defaults write com.apple.mail AddressesIncludeNameOnPasteboard -bool true

# Disable inline attachments (just show the icons)
defaults write com.apple.mail DisableInlineAttachmentViewing -bool true


# Quit Mail if running
killall Mail 2>/dev/null || true
{{ end -}}
