{{ if eq .chezmoi.os "darwin" -}}
{{ template "sane-script.sh" }}

# Show hard drives on desktop
defaults write com.apple.finder "ShowHardDrivesOnDesktop" -bool true

# Show external hard drives on desktop
defaults write com.apple.finder "ShowExternalHardDrivesOnDesktop" -bool true

# Show mounted servers on destop
defaults write com.apple.finder "ShowMountedServersOnDesktop" -bool true

# Show removable media on desktop
defaults write com.apple.finder "ShowRemovableMediaOnDesktop" -bool true

# Search the current folder by default
defaults write com.apple.finder "FXDefaultSearchScope" -string "SCcf"

# Configure the warning when changing a file extension
defaults write com.apple.finder "FXEnableExtensionChangeWarning" -bool false

# Configure .DS_Store files on network drives
#defaults write com.apple.finder "DSDontWriteNetworkStores" -bool true

# Configure .DS_Store files on USB drives
#defaults write com.apple.finder "DSDontWriteUSBStores" -bool true

# Configure Stacks
defaults write com.apple.finder "DesktopViewSettings.GroupBy" -string "Kind"

# Configure Desktop Icon Arrangement
defaults write com.apple.finder "DesktopViewSettings.IconViewSettings.arrangeBy" -string "name"

# Configure Default Icon Arrangement
defaults write com.apple.finder "FK_StandardViewSettings.IconViewSettings.arrangeBy" -string "grid"

# Configure Folder Icon Arrangement
defaults write com.apple.finder "StandardViewSettings.IconViewSettings.arrangeBy" -string "grid"


# Restart Finder
killall Finder
{{ end -}}
