{{ if eq .chezmoi.os "darwin" -}}
{{ template "sane-script.sh" }}
{{ template "macos-settings.sh" }}

# Make icons of hidden apps translucent
defaults write com.apple.dock "showhidden" -bool true

# Show indicator lights for running apps
defaults write com.apple.dock "show-process-indicators" -bool true


# Restart Dock
killall Dock
{{ end -}}
