{{ if .personal -}}
{
  "credentials": {
	"app.terraform.io": {
	  "token": {{ onepasswordRead "op://Private/Terraform Cloud/API Tokens/Kims MacBook Pro" "my.1password.eu" | quote }}
	}
  }
}
{{- end }}
