{{ if .personal -}}
{
  "credentials": {
	"app.terraform.io": {
	  "token": {{ onepasswordRead "op://Personal/Terraform Cloud/API Tokens/Kims MacBook Pro" "wittenburg.1password.com" | quote }}
	}
  }
}
{{- end }}
