{{- $myKey := "" }}
{{- if .personal }}
{{- $myKey = onepasswordRead "op://Private/Git Signing Key/public key" "my.1password.eu" }}
{{- else }}
{{- $myKey = (bitwarden "item" "Git Signing Key").sshKey.publicKey }}
{{- end -}}

{{ .email }} {{ $myKey }}
kim@codello.dev {{ $myKey }}
