#!/usr/bin/env sh

file=$(mktemp)
cat > "$file"

git config --file "$file" user.name {{ .name | quote }}
git config --file "$file" user.email {{ .email | quote }}

git config --file "$file" core.excludesfile "~/.config/git/ignore"

{{ if eq .chezmoi.os "darwin" -}}
git config --file "$file" credential.helper "osxkeychain"

# Configure SSH Key Signing
git config --file "$file" user.signingkey {{ onepasswordRead "op://Personal/Git Signing Key/public key" "wittenburg.1password.com" | quote }}
git config --file "$file" gpg.format "ssh"
git config --file "$file" gpg.ssh.program "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
git config --file "$file" gpg.ssh.allowedSignersFile "~/.config/git/allowed_signers"
git config --file "$file" commit.gpgsign true
{{- end }}

cat "$file"
rm "$file"
